.flex,
.inline-flex {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.column {
    flex-direction: column;
  }
  &.column-reverse {
    flex-direction: column-reverse;
  }
  &.row-reverse {
    flex-direction: row-reverse;
  }
  &.j-start {
    justify-content: flex-start;
  }
  &.j-center {
    justify-content: center;
  }
  &.j-between {
    justify-content: space-between;
  }
  &.j-end {
    justify-content: flex-end;
  }
  &.a-start {
    align-items: flex-start;
  }
  &.a-center {
    align-items: center;
  }
  &.a-end {
    align-items: flex-end;
  }
  &.a-base {
    align-items: baseline;
  }
  .grow {
    flex-grow: 1;
  }
  .shrink {
    flex-shrink: 0;
  }
  &.wrap,
  .wrap {
    flex-wrap: wrap;
  }
}

.inline-flex {
  display: inline-flex;
}

.relative {
  position: relative;
}

.no-pointer-events {
  pointer-events: none;
  cursor: default;
}
