// element sizes
$header-height: 0px;

// border radius
$border-radius-default: 5px;

// box shadow
$box-shadow-default: 0 12px 12px -10px rgba(0, 0, 0, 0.15);
$box-shadow-modal: $box-shadow-default;
